@model IEnumerable<PerformanceCarApp.Models.Car>

@{
    ViewBag.Title = "Car Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
@using (Html.BeginForm())
{
    <p>
        Search Cars:@Html.TextBox("SearchString")<input type="submit" value="Search" />
    </p>
}
<h2>Car Index</h2>

<div>
    @Html.DropDownList("CarMakeList", (IEnumerable<SelectListItem>)ViewBag.SelectListCarMakes)
    @Html.DropDownList("CarModelList", (IEnumerable<SelectListItem>)ViewBag.SelectListCarModels)
    <button type="submit" value="submit" name="Submit" title="Submit" >
        Submit
        </button>
    <br /><br />
</div>
