@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css" />
<div>
    <h1>Performance Car Loft</h1>
    
    <p class="lead">Performance Car Loft is an app created to assist you in finding the parts you need for your vehicle.</p>
   
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            All you need to do is enter your vehicle information and the site will show you what parts are available for you.
        </p>

    </div>

</div>