@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css" />
<div>
    <h1>Performance Car Loft</h1> 

    <p class="lead">Build up your ride's rep here! Rate, rank, check out others, and display your ride with pride!</p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Boost Your Ride Rep</h2>
        <p>
            Even check out other's performance numbers. Horsepower and quarter mile times verified.
        </p>

    </div>

</div>