@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css" />
<div>
    <center>
        <br />
        <h1><img src="~/Content/srtlogo.png" /></h1>
        <font color="#000000">
            <strong>
                <p class="lead">Build up your ride's rep here! Rate, rank, check out others, and display your ride with pride!</p>
            </strong>
        </font>
    </center>
</div>
<br />
<div id="row" style="float: left; width: 35%; margin:10px">

    <div class="boost">
        <strong>
            <font color="#000000">
                <h2>Boost Your Ride Rep</h2>
                <p>
                    Even check out other's performance numbers. Horsepower and quarter mile times verified.
                </p>
                <p>
                    Always remember to race safe. Keep it off the streets!
                </p>
            </font>
        </strong>
    </div>
</div>
<div id="cp_widget_3741680f-dc16-4d6a-b6d8-a1796df19d06" style="width: 65%; float: right">...</div>
<script type="text/javascript">
    var cpo = [];
    cpo["_object"] = "cp_widget_3741680f-dc16-4d6a-b6d8-a1796df19d06";
    cpo["_fid"] = "AMDAM5LVmYy9";
    var _cpmp = _cpmp || [];
    _cpmp.push(cpo);
    (function () {
        var cp = document.createElement("script");
        cp.type = "text/javascript";
        cp.async = true;
        cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(cp, c);
    })();
</script><noscript><span>Whips</span><span>height</span><span> 351</span><span>width</span><span> 446</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 680</span><span>width</span><span> 1280</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop 7.0</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 682</span><span>width</span><span> 994</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 683</span><span>width</span><span> 1024</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 656</span><span>width</span><span> 1024</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 669</span><span>width</span><span> 1024</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 683</span><span>width</span><span> 1024</span><span>camerasoftware</span><span> Picasa 2.7</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 427</span><span>width</span><span> 640</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 427</span><span>width</span><span> 640</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 501</span><span>width</span><span> 750</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>

