
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Refresh" content="8;URL=@(Url.Action("Index", "Home"))">
    <title>Intro</title>
</head>
<body style="background-color: black">
    <div>

        <center>
            <iframe width="1280" height="720" src="//www.youtube.com/embed/-MJBoRP4jVk?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
            </center>
    </div>
</body>
</html>
