@{
    ViewBag.Title = "Safe";
}

<h2></h2>
<body>
    <br /><br />
    <center>
        <img src="~/Content/srtlogo.png" />
        <br />
        <font color="#000000">
            <strong>
                SRT Race Safe initiative. Always Race Safe. Keep it on the track and off public roads.
            </strong>
            </
        </font>
        <br /><br /><br /><br />
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=drag%20strip%20near%20detroit%2C%20mi&key=AIzaSyByZ4s3Qoh26h4_55WzfXWkW6ZyrFecrug"></iframe>
        <br /><br /><br />
        <font color="#000000">
            <strong>
                Don't forget the proper equipment. DOT Helmets save lives.
                <a href="http://www.jegs.com/c/Safety-Equipment_Helmets/172704/10002/-1">
                    Find approved hemets here.
                </a>
            </strong>
        </font>
    </center>
</body>

