@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

