@model IEnumerable<PerformanceCarApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Log In</h2>
<br />
<p>
    @Html.ActionLink("Register", "Create")
</p>
<form>
    <center>
        Enter E-Mail: <input type="text" name="email" value="" />
        <br />
        Enter Password: <input type="password" name="password" value="" />
        <br />
        <button type="submit" name="submit" value="Submit" onclick="Validate(email, password)" />
    </center>
</form>