@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Not Found</h2>

<center>
    Member not found, please retry login...
    <button type="button" name="retry" value="Retry" onclick="Index" />
</center>
