@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>
<center>
    Welcome Back!
    <br />
    <button type="submit" name="continue" value ="Continue"onclick="Home/Index" />
</center>
