body {
    background-image:url(../Images/background5.jpg);
    background-repeat: repeat;
    background-attachment:scroll;
    background-size: cover;  
    }
#navbar {
    height: 100px;
    width: 100%;
}