html {
    margin: 0;
    padding: 0;
}

body {
    font: 75% georgia, sans-serif;
    line-height: 1.9;
    background: #fff;
    color: #555753;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.00);
    text-align: center;
    margin: 0;
    padding: 0;
}
.navbar {
    color: red !important;
    background-color: rgba(0, 0, 0, 0.00);
    float: left;
    width: 10%;
    height: 100%;
    font-size: large;
    padding-top: 10%;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #B7A5DF;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #D4CDDC;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}

abbr {
    border-bottom: none;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.00);
    text-align: center;
}

