body {
    background-image: url(../Content/background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    color: #ff0000;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.00);
    text-align: center;
}
.navbar {
    color: red !important;
    background-color: rgba(0, 0, 0, 0.00);
    float: left;
    width: 10%;
    height: 100%;
    font-size: large;
    padding-top: 10%;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.00);
    text-align: center;
}